body {
  background-color:lightblue;
}

h1 {
  color: black;
  margin-left: 20px;
}
#nav-table{width:1024px;
  
}
#nav-td{
  max-width:256px; align:center;
}
#whole-page{
  width:1024px;
  align:center;
}
#banner{
}


